# Arquivos gerados pelo Python
__pycache__/
*.py[cod]

# Ambiente virtual (ignorar a pasta do virtualenv)
env/
venv/

# Arquivos do PyInstaller ou pacotes compilados
*.spec
dist/
build/
*.egg-info/

# Arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log
*.sqlite3

# Arquivos de cache do VSCode
.vscode/
